<svg
  [attr.viewBox]="logoConfig().viewBox"
  [attr.width]="width() || logoConfig().width"
  [attr.height]="height() || logoConfig().height"
  [ngClass]="customClass()"
  xmlns="http://www.w3.org/2000/svg"
>
  @if (logoConfig().polygons) { @for (polygon of logoConfig().polygons; track
  $index) {
  <polygon [attr.points]="polygon" fill="currentColor" />
  } } @if (logoConfig().paths) { @for (path of logoConfig().paths; track $index)
  {
  <path [attr.d]="path.d" [attr.class]="path.class" fill="currentColor" />
  } }
</svg>
