<div [ngClass]="containerClass()">
  @if (label()) {
  <label [for]="fieldId()" class="block text-sm font-medium text-gray-700 mb-2">
    {{ label() }}
    @if (required()) {
    <span class="text-red-500">*</span>
    }
  </label>
  }

  <ng-content></ng-content>

  @if (hint() && !showError() && !hasError()) {
  <p class="mt-1 mr-1 text-sm text-gray-500">
    {{ hint() }}
  </p>
  } @if ((showError() || hasError()) && computedErrorMessage()) {
  <p class="mt-1 text-sm text-red-600">
    {{ computedErrorMessage() }}
  </p>
  }
</div>
